p {
 display: none;
 color: papayawhip;
}



div:hover p{
    display: inline;
    color: rgb(248, 105, 10);
    background-color: blueviolet;
    width: 200px;
}

div {
    background-color: rgb(7, 248, 248);
    width: 100px;
}