div {
    font-size: 2em;
    color: rgb(252, 77, 8);
    text-align: center;
}
body {
    background-image: url(assets/gatos.jpg); background-attachment: fixed;
}

.tarjeta {
    position: relative; left: 500px;
    border-radius: 50px;
    border-style:dotted; color: rgb(253, 8, 122);
}

h2 {
position: absolute;
top: 60%;
right: 550px;
font-size: 50px;
font-family: cursive;
color: deeppink;
text-shadow: 2px 4px 6px black;
padding: 0px 20px 10px 20px;


}

h1 {
    text-align: center;
    text-decoration-line:underline;
    color: deeppink;
    text-shadow: 3px 6px 9px rgb(190, 55, 190);
    text-transform: capitalize;

}

p {
    text-align: center;
}

div p {
    display: none;
    color: palevioletred;
    font-size: 2em;
  
}

div:hover p {
    display: block;

}
